<!DOCTYPE html>
<html>
<head>
  <title> Dashboard </title>
</head>

<body>
    {% for row in list %}
    <table>
      <tr> <td>  <a href="/predict">Predict here </a> {% for item in row %}

            {{ item }}

        {% endfor %}  </td>
      </tr>
    </table>

    {% endfor %}

</body>
</html>
